{% extends 'admin.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <section class="block">
        <a class="btn-link float-right" href="{{ path('app_admin_register') }}">Ajouter un adhérent / admin</a>
        <h2>Liste des utilisateurs</h2>

        {{ form_start(form) }}
        {{ form_row(form.user_search) }}
        <ul id="suggestion-list"></ul>
        {# {{ form_row(form.submit) }} #}
        {{ form_end(form) }}

        <div class="tab-container mt-5">
            <div class="tabs-btn tabs" style="flex-wrap: wrap; gap: 1rem;">
            {% set tabData = [
                { 'role': 'ROLE_BASE', 'label': 'Non adhérents' },
                { 'role': 'ROLE_FONCTIONNAIRE', 'label': 'Forfait "Pompiers / Gendarmes / Police"' },
                { 'role': 'ROLE_ETU_SEN', 'label': 'Forfait "Etudiant / Senior"' },
                { 'role': 'ROLE_1SEANCE', 'label': 'Forfait "1 séance"' },
                { 'role': 'ROLE_1MOIS', 'label': 'Forfait "1 mois"' },
                { 'role': 'ROLE_3MOIS', 'label': 'Forfait "3 mois"' },
                { 'role': 'ROLE_6MOIS', 'label': 'Forfait "6 mois"' },
                { 'role': 'ROLE_DECOUVERTE', 'label': 'Forfait 1 séance/semaine' },
                { 'role': 'ROLE_10SESSIONS', 'label': 'Forfait "10 sessions"' },
                { 'role': 'ROLE_ANNUEL', 'label': 'Forfait annuel' },
                { 'role': 'ROLE_ADMIN', 'label': 'Administrateurs' },
            ] %}

            {% for tab in tabData %}
                <li><a class="tab{% if loop.first %} active{% endif %}">{{ tab.label }}</a></li>
            {% endfor %}
            </div>

            <div class="tab-panes mt-5">
            {% for tab in tabData %}
                <div class="tab-pane{% if loop.first %} active{% endif %}">
                    {% for user in users %}
                        {% if tab.role in user.roles %}
                            <div class="line py-2">
                                <span>{{ user.lastname }} {{ user.firstname }}</span>
                                <ul>
                                    <li>
                                        <a href="{{ path('admin_users_regist', { id: user.id }) }}">Inscrire à un cours</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_users_modify', { id: user.id }) }}">Modifier</a>
                                    </li>
                                    <li>
                                        <a onclick="return confirm('Souhaitez-vous réellement supprimer cet adhérent ?')" href="{{ path('admin_users_delete', { id: user.id }) }}">Supprimer</a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
