{% extends 'admin.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <section class="block">
        <a class="btn-link float-right" href="{{ path('app_admin_register') }}">Ajouter un adhérent / admin</a>
        <h2>Liste des utilisateurs</h2>
        <div class="tab-container mt-5">
            <div class="tabs-btn tabs" style="flex-wrap: wrap; gap: 1rem;">
                <li><a class="tab active">Non adhérents</a></li>
                <li><a class="tab">Forfait "Pompiers / Gendarmes / Police"</a></li>
                <li><a class="tab">Forfait "Etudiant / Senior"</a></li>
                <li><a class="tab">Forfait "1 séance"</a></li>
                <li><a class="tab">Forfait "1 séance / semaine"</a></li>
                <li><a class="tab">Forfait "1 mois (sans engagement)"</a></li>
                <li><a class="tab">Forfait "3 mois"</a></li>
                <li><a class="tab">Forfait "6 mois"</a></li>
                <li><a class="tab">Forfait découverte</a></li>
                <li><a class="tab">Forfait 10 sessions</a></li>
                <li><a class="tab">Forfait annuel</a></li>
                <li><a class="tab">Administrateurs</a></li>
            </div>
            <div class="tab-panes mt-5">
                <!-- Non adhérents -->
                <div class="tab-pane active">
                    {% for user in users %}
                        {% if user.roles|length == 1 and 'ROLE_USER' in user.roles %}
                            <div class="line py-2">
                                <span>{{ user.lastname }} {{ user.firstname }}</span>
                                <ul>
                                    <li>
                                        <a href=" {{ path('admin_users_regist', { id: user.id }) }} ">Inscrire à un cours</a>
                                    </li>
                                    <li>
                                        <a href=" {{ path('admin_users_modify', { id: user.id }) }} ">Modifier</a>
                                    </li>
                                    <li>
                                        <a href=" {{ path('admin_users_delete', { id: user.id }) }} ">Supprimer</a>
                                    </li>
                                </ul>
                            </div>    
                        {% endif %}
                    {% endfor %} 
                </div>
                <!-- Forfait Fonctionnaires -->
                <div class="tab-pane">
                    {% for user in users %}
                        {% if 'ROLE_FONCTIONNAIRE' in user.roles %}
                            <div class="line py-2">
                                <span>{{ user.lastname }} {{ user.firstname }}</span>
                                <ul>
                                    <li>
                                        <a href=" {{ path('admin_users_regist', { id: user.id }) }} ">Inscrire à un cours</a>
                                    </li>
                                    <li>
                                        <a href=" {{ path('admin_users_modify', { id: user.id }) }} ">Modifier</a>
                                    </li>
                                    <li>
                                        <a href=" {{ path('admin_users_delete', { id: user.id }) }} ">Supprimer</a>
                                    </li>
                                </ul>
                            </div>    
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Forfait Etudiants / Senior -->
                <div class="tab-pane">
                    {% for user in users %}
                        {% if 'ROLE_ETU_SEN' in user.roles %}
                            <div class="line py-2">
                                <span>{{ user.lastname }} {{ user.firstname }}</span>
                                <ul>
                                    <li>
                                        <a href=" {{ path('admin_users_regist', { id: user.id }) }} ">Inscrire à un cours</a>
                                    </li>
                                    <li>
                                        <a href=" {{ path('admin_users_modify', { id: user.id }) }} ">Modifier</a>
                                    </li>
                                    <li>
                                        <a href=" {{ path('admin_users_delete', { id: user.id }) }} ">Supprimer</a>
                                    </li>
                                </ul>
                            </div>    
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Forfait 1 séance -->
                <div class="tab-pane">
                    {% for user in users %}
                        {% if 'ROLE_1SEANCE' in user.roles %}
                            <div class="line py-2">
                                <span>{{ user.lastname }} {{ user.firstname }}</span>
                                <ul>
                                    <li>
                                        <a href=" {{ path('admin_users_regist', { id: user.id }) }} ">Inscrire à un cours</a>
                                    </li>
                                    <li>
                                        <a href=" {{ path('admin_users_modify', { id: user.id }) }} ">Modifier</a>
                                    </li>
                                    <li>
                                        <a href=" {{ path('admin_users_delete', { id: user.id }) }} ">Supprimer</a>
                                    </li>
                                </ul>
                            </div>    
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Forfait 1 séance par semaine -->
                <div class="tab-pane">
                    {% for user in users %}
                        {% if 'ROLE_1SEM' in user.roles %}
                            <div class="line py-2">
                                <span>{{ user.lastname }} {{ user.firstname }}</span>
                                <ul>
                                    <li>
                                        <a href=" {{ path('admin_users_regist', { id: user.id }) }} ">Inscrire à un cours</a>
                                    </li>
                                    <li>
                                        <a href=" {{ path('admin_users_modify', { id: user.id }) }} ">Modifier</a>
                                    </li>
                                    <li>
                                        <a href=" {{ path('admin_users_delete', { id: user.id }) }} ">Supprimer</a>
                                    </li>
                                </ul>
                            </div>    
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Forfait 1 mois -->
                <div class="tab-pane">
                    {% for user in users %}
                        {% if 'ROLE_1MOIS' in user.roles %}
                            <div class="line py-2">
                                <span>{{ user.lastname }} {{ user.firstname }}</span>
                                <ul>
                                    <li>
                                        <a href=" {{ path('admin_users_regist', { id: user.id }) }} ">Inscrire à un cours</a>
                                    </li>
                                    <li>
                                        <a href=" {{ path('admin_users_modify', { id: user.id }) }} ">Modifier</a>
                                    </li>
                                    <li>
                                        <a href=" {{ path('admin_users_delete', { id: user.id }) }} ">Supprimer</a>
                                    </li>
                                </ul>
                            </div>    
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Forfait 3 mois -->
                <div class="tab-pane">
                    {% for user in users %}
                        {% if 'ROLE_3MOIS' in user.roles %}
                            <div class="line py-2">
                                <span>{{ user.lastname }} {{ user.firstname }}</span>
                                <ul>
                                    <li>
                                        <a href=" {{ path('admin_users_regist', { id: user.id }) }} ">Inscrire à un cours</a>
                                    </li>
                                    <li>
                                        <a href=" {{ path('admin_users_modify', { id: user.id }) }} ">Modifier</a>
                                    </li>
                                    <li>
                                        <a href=" {{ path('admin_users_delete', { id: user.id }) }} ">Supprimer</a>
                                    </li>
                                </ul>
                            </div>    
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Forfait 6 mois -->
                <div class="tab-pane">
                    {% for user in users %}
                        {% if 'ROLE_6MOIS' in user.roles %}
                            <div class="line py-2">
                                <span>{{ user.lastname }} {{ user.firstname }}</span>
                                <ul>
                                    <li>
                                        <a href=" {{ path('admin_users_regist', { id: user.id }) }} ">Inscrire à un cours</a>
                                    </li>
                                    <li>
                                        <a href=" {{ path('admin_users_modify', { id: user.id }) }} ">Modifier</a>
                                    </li>
                                    <li>
                                        <a href=" {{ path('admin_users_delete', { id: user.id }) }} ">Supprimer</a>
                                    </li>
                                </ul>
                            </div>    
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Forfait Découverte -->
                <div class="tab-pane">
                    {% for user in users %}
                        {% if 'ROLE_DECOUVERTE' in user.roles %}
                            <div class="line py-2">
                                <span>{{ user.lastname }} {{ user.firstname }}</span>
                                <ul>
                                    <li>
                                        <a href=" {{ path('admin_users_regist', { id: user.id }) }} ">Inscrire à un cours</a>
                                    </li>
                                    <li>
                                        <a href=" {{ path('admin_users_modify', { id: user.id }) }} ">Modifier</a>
                                    </li>
                                    <li>
                                        <a href=" {{ path('admin_users_delete', { id: user.id }) }} ">Supprimer</a>
                                    </li>
                                </ul>
                            </div>    
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Forfait 10 séances -->
                <div class="tab-pane">
                    {% for user in users %}
                        {% if 'ROLE_10SEANCES' in user.roles %}
                            <div class="line py-2">
                                <span>{{ user.lastname }} {{ user.firstname }}</span>
                                <ul>
                                    <li>
                                        <a href=" {{ path('admin_users_regist', { id: user.id }) }} ">Inscrire à un cours</a>
                                    </li>
                                    <li>
                                        <a href=" {{ path('admin_users_modify', { id: user.id }) }} ">Modifier</a>
                                    </li>
                                    <li>
                                        <a href=" {{ path('admin_users_delete', { id: user.id }) }} ">Supprimer</a>
                                    </li>
                                </ul>
                            </div>    
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Forfait annuel -->
                <div class="tab-pane">
                    {% for user in users %}
                        {% if 'ROLE_ANNUEL' in user.roles %}
                            <div class="line py-2">
                                <span>{{ user.lastname }} {{ user.firstname }}</span>
                                <ul>
                                    <li>
                                        <a href=" {{ path('admin_users_regist', { id: user.id }) }} ">Inscrire à un cours</a>
                                    </li>
                                    <li>
                                        <a href=" {{ path('admin_users_modify', { id: user.id }) }} ">Modifier</a>
                                    </li>
                                    <li>
                                        <a href=" {{ path('admin_users_delete', { id: user.id }) }} ">Supprimer</a>
                                    </li>
                                </ul>
                            </div>    
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Administrateurs -->
                <div class="tab-pane">
                    {% for user in users %}
                        {% if 'ROLE_ADMIN' in user.roles %}
                            <div class="line py-2">
                                <span>{{ user.lastname }} {{ user.firstname }}</span>
                                <ul>
                                    <li>
                                        <a href=" {{ path('admin_users_regist', { id: user.id }) }} ">Inscrire à un cours</a>
                                    </li>
                                    <li>
                                        <a href=" {{ path('admin_users_modify', { id: user.id }) }} ">Modifier</a>
                                    </li>
                                    <li>
                                        <a href=" {{ path('admin_users_delete', { id: user.id }) }} ">Supprimer</a>
                                    </li>
                                </ul>
                            </div>    
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
