{% extends 'admin.html.twig' %}

{% block title %}Gestion de l'utilisateur{% endblock %}

{% block body %}
    <section class="block">
        <h2>Modifier l'utilisateur</h2>
        {{ form_start(form) }}
            <p>{{ form_row(form.lastname) }}</p>
            <p>{{ form_row(form.firstname) }}</p>
            <p>{{ form_row(form.email) }}</p>
            <p>{{ form_row(form.telephone) }}</p>
            <p>{{ form_row(form.date_debut_adh) }}</p>
            <p>{{ form_row(form.date_fin_adh) }}</p>
            <p>
                {{ form_label(form.roles) }}
                {{ form_widget(form.roles, {value: userRole}) }}
            </p>
            <p>
                {{ form_label(form.payment_type) }}
                {{ form_widget(form.payment_type, {value: paymentType}) }}
            </p>
            <p>{{ form_row(form.credits) }}</p>
            <p class="d-flex">
                {{ form_widget(form.remake_pass) }} {{ form_label(form.remake_pass) }}
            </p>
            <p>{{ form_row(form.submit) }}</p>
        {{ form_end(form) }}
    </section>
{% endblock %}