{% extends 'admin.html.twig' %}

{% block title %}Gestion des cours{% endblock %}

{% block body %}

<section class="block mt-5">
    <a href="{{ path('app_ext_cours_create')}}" class="btn-link float-right">Ajouter un nouveau cours</a>
    <h2>Gestion des cours</h2>
    <div class="mt-5">
        <p>
            <strong>Les cours avec des horaires dispensés ne peuvent être supprimés</strong>
        </p>
        {% for course in courses %}
            <div class="line py-3">
                <p>
                    {{ course.nomcours }}<br />
                    Crédits nécessaires : {{ course.credits }}<br />
                    Nombre de cours dispensés : {{ course.plannings | length }}
                </p>
                <ul>
                    <li><a href="{{ path('app_ext_cours_update', { id: course.id })}}">Modifier</a></li>
                    <li><a href="{{ path('app_ext_cours_delete', { id: course.id })}}">Supprimer</a></li>
                </ul>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
