{% extends 'admin.html.twig' %}

{% block title %}Hello ExtProfileController!{% endblock %}

{% block body %}
<section class="block mt-5">
    <h2>{{ prenom }} {{ nom }}</h2>
    <div class="mt-4">
        <ul>
            <li>Téléphone : {{ tel }}</li>
            <li>Adresse E-Mail : {{ email }}</li>
            <li>Crédits restants : {{ credits }}</li>
            {% if free_courses > 0 %}
                <li>Nombre de cours offerts : {{ free_courses }}</li>
            {% endif %}
        </ul>
        {% if app.request.attributes.get('_route') == 'admin_users_regist' %}
            <hr>
            <h3>Inscrire à un cours</h3>
            {{ form(form) }}
        {% endif %}
        <hr>
        <h3>Réservations en cours</h3>
        {% for item in reservations %}
            <div class="line py-3">
                <span>
                    {{ item.planning.cours.nomcours }}
                    <span>
                        {% if item.etat == 1 %}
                        (Validé)
                        {% else %}
                        (En attente)
                        {% endif %}
                    </span><br />
                    {{ item.planning.datetimestart | date('d/m/Y H:i') }} - {{ item.planning.datetimeend | date('d/m/Y H:i') }}
                </span>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
