{% extends 'admin.html.twig' %}

{% block title %}Planning{% endblock %}

{% block body %}
<section class="block mt-5">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
            <div class="block">
                <h2>{{ titre }}</h2>
                <div class="my-3">
                    <p>{{ description }}</p>
                </div>
                <ul>
                    <li>Crédits : {{ credits }}</li>
                </ul>
                <ul class="mb-4">
                    <li>Date : {{ date }} </li>
                    <li>De {{ heureDebut }} à {{ heureFin }}</li>
                    {% if resaCount > places %}
                        <li>Le cours est complet,<br />Mais vous pouvez tout de même vous inscrire et être en liste d'attente pour participer si une place se libère.</li>
                    {% else %}
                        <li>Nombre de participants : {{ resaCount }} / {{ places }}</li>
                    {% endif %}
                    
                </ul>
                {% if freeCourses > 0 %}
                    {% if creditsUser > 0 %}
                        {% if role == "ROLE_DECOUVERTE" %}
                            {% if lastRegister != null %}
                                {% if diffDays %}
                                    <p><a href=" {{ path('app_ext_planning_register', {idPlan: id}) }} " class="btn-link">Réserver un cours</a></p>
                                {% endif %}
                            {% else %}
                                <p><a href=" {{ path('app_ext_planning_register', {idPlan: id}) }} " class="btn-link">Réserver un cours</a></p>
                            {% endif %}
                        {% else %}
                            <p><a href=" {{ path('app_ext_planning_register', {idPlan: id}) }} " class="btn-link">Réserver un cours</a></p> 
                        {% endif %} 
                    {% else %}
                        <p><a href="{{ path('process_payment') }}" class="btn-link">Acheter un cours à l'unité</a></p>   
                    {% endif %}
                {% else %}
                    <p><a href=" {{ path('app_ext_planning_register', {idPlan: id}) }} " class="btn-link">Réserver un cours</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
