{% extends 'admin.html.twig' %}

{% block title %}Planning{% endblock %}

{% block body %}
<section class="block mt-5">
    <div class="row">
        {# <div class="col-4"></div> #}
        <div class="col-12">
            <div class="block">
                <h2>{{ titre }}</h2>
                <div class="my-3">
                    <p>{{ description }}</p>
                </div>
                <ul>
                    <li>Crédits nécessaires : {{ credits }}</li>
                </ul>
                <ul class="mb-4">
                    <li>Date : {{ date }} </li>
                    <li>De {{ heureDebut }} à {{ heureFin }}</li>
                    {% if resaCount > places %}
                        <li>Le cours est complet,<br />Mais vous pouvez tout de même vous inscrire et être en liste d'attente pour participer si une place se libère.</li>
                    {% else %}
                        <li>Nombre de participants : {{ resaCount }} / {{ places }}</li>
                    {% endif %}
                    
                </ul>

                    {% if (role == "ROLE_DECOUVERTE" and (diffDays or lastRegister == "")) or (role != "ROLE_DECOUVERTE") %}
                        
                        {% if dontInsc %}
                            <p>Vous êtes déjà inscrit à ce cours.</p>
                        {% else %}
                            {% if freeCourses <= 0 and creditsUser <= 0 %}
                                <p>Si vous souhaitez acheter un abonnement ou une carte, merci de passer par l'accueil sur les horaires d'ouvertures, nous débloquerons vos crédits à ce moment là.</p>
                                <p>
                                    <a href="{{ path('process_payment', {idPlan: id}) }}" class="btn-link">Acheter un cours à l'unité</a>
                                </p>
                                {% else %}
                                <p>
                                    <a href="{{ path('app_ext_planning_register', {idPlan: id}) }}" class="btn-link">Réserver un cours</a>
                                </p>
                            {% endif %}
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <p>
                                <a href="{{ path('app_ext_planning_update', {id: id}) }}" class="btn-link">Modifier un cours</a>
                            </p>
                            <p>
                                <a href="{{ path('app_ext_planning_delete', {id: id}) }}" class="btn-link">Supprimer un cours</a>
                            </p>
                        {% endif %}

                    {% else %}
                        <p>Vous ne pouvez plus réserver de cours pour cette semaine.</p>
                    {% endif %}
                


            </div>
        </div>
    </div>
</section>
{% endblock %}
